<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Titanic Form</title>

    <script src="http://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous"></script>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
        crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp"
        crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

    <body>
        <div class="container">
            <div class="jumbotron" style="text-align: center">
                <h1>Will You Survive?</h1>
                <p></p>
            </div>
            <div class="row">
                <div class="col-md-offset-2 col-md-8">
                    <form method="POST" action="/send" role="form" , name="mpgform">
                        <div class="form-group">
                            <label for="input">Pclass</label>
                            <input type="text" class="form-control" id="inputPclass" name="survivedpclass" placeholder="1, 2 or 3">
                        </div>
                        <!-----div class="form-group">
                            <label for="input">Name</label>
                            <input type="text" class="form-control" id="inputName" name="survivedname"
                                placeholder="Your Name"------>
                        <!----/div----->
                        <div class="form-group">
                            <label for="input">Sex</label>
                            <input type="text" class="form-control" id="inputSex" name="survivedsex" placeholder="Male or Female">
                        </div>
                        <div class="form-group">
                            <label for="input">Age</label>
                            <input type="text" class="form-control" id="inputAge" name="survivedage" placeholder="Your Age">
                        </div>
                        <div class="form-group">
                            <label for="input">Family</label>
                            <input type="text" class="form-control" id="inputFamily" name="survivedfamily"
                                placeholder="How many folks you are traveling with">
                        </div>
                        <!----div class="form-group">
                            <label for="input">Ticket</label>
                            <input type="text" class="form-control" id="inputTicket" name="survivedticket"
                                placeholder="any 5 digit code"----->
                                <!---/div---->
                        <div class="form-group">
                            <label for="input">Fare</label>
                            <input type="text" class="form-control" id="inputFare" name="survivedfare"
                                placeholder="Price between 1 and 512">
                                </div>
                         <!-----div class="form-group">
                            <label for="input">Embarked (S) or (C)</label>
                            <input type="text" class="form-control" id="inputEmbarked" name="survivedembarked"
                                        placeholder="C (Cobh) or S (Southampton)"------->
                                <!----/div--->    
                        </div>
                        <input type="submit" value="submit" class="btn btn-default">
                    </form>
                    <p>{{result}}</p>
                </div>
            </div>
    
        </div>
    
    </body>
    
</html>

